section.category, footer {
  border-top-style : solid;
  border-width : 1px;
  border-color : #bbbbbb;
  margin-top: 20px;
  padding-top: 20px;
}

input {
  margin-left: 0px;
}

.hidden {
  display: none;
}
